model/model60400.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
arabic_dialect_identification/lexical/model/model60400.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
